html 
    head
        title= title
        link(rel='stylesheet', href='index.css')
    body
        h1= message
        p Welcome to #{title}
        
        h2 Crear nota
            form(action="/home" method="POST")
                input(type="text" name="title" placeholder="Title")
                textarea(name="description" placeholder="Description")
                button(onclick=`updateNote`) Crear  
        h2 Lista de notas
        ul 
            each note in notes
                .note
                    li 
                        
                        h2= note.title
                        p= note.description
                        button 
                            a(href=`/notes/${note.id_note}`) Update
                        button(type="button", onclick=`deleteNote(${note.id_note})`) Delete
        
        
        

script.
    function deleteNote(noteId){
        console.log('delete')
        fetch(`/notes/${noteId}`, {
            method: 'DELETE',
        }).then(res => {
        if(res.ok) return res.json()
        }).then(data => {
            window.location.reload()
        }).catch(err => {
            console.log(err)
        })
    }